.center-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
    color: #61BFC1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #466B6C;
}

body {
    background-color: #4d4d4d;
    background-image: url('images/web-bg.png');
    background-repeat: repeat-x;
    background-position: top;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial,
    SansSerif;
    color: #EFE2B8;
    margin: 0px;
}

h1,h2,h3,h4 {   
    font-family: "Avenir Next"
    font-weight: bold;
}

.content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 640px;
}

.legal {
    font-size:8pt;
    width: 600px;
    margin:auto;
}

#slideshows {
    width: 670px;
}

.pics {
    margin: 5px;
    box-shadow: 0px 3px 25px #000;
}

.slidebox {
    float: left;
}


#header {
    /* border:1px solid red; */
    width:640px;
    margin:auto;
    position:relative;
}

#social-box {
    padding: 5px 0px;
    width: 640px;
}

#social-box ul {
    display: table-row;
}

#social-box li  {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

#twitter-bump { 
    position: absolute;
    bottom: 0px;
    right: 130px;
}
