body{
    background: #000;
    font-family: "Avenir Next", "Avenir", "Helvetica Neue";
    color: #EEE;
    margin:auto;
    max-width:640px;
}

#jump {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 23px;
}

#content {
}

h1, h2, h3, h4 {
    font-family: "Avenir Next"
    font-weight: bold;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 26px;
    margin: 24px 0 6px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 14px;
}
a {
    color: #61BFC1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #466B6C;
}
ul, ol {
}

li {
    line-height: 24px;
}

li ul, li ul {
    list-style-position: inside;
}

p, ul, ol {
    font-size: 16px;
    line-height: 24px;
}
pre {
    padding: 0px 24px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}

blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
}
blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    color: #666;
}
hr {
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

img {
    display:block;
    margin:auto;
}


/* The CSS */
select {
    padding:5px 10px;
    font-size: 12pt; 
    font-family: "Avenir Next", "Avenir", "Helvetica Neue";
    font-weight: bold;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: #f8f8f8;
    color:#777;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width:280px;
    opacity:0.7;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'';
    font:20px;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:10px; top:0px;
    padding:0;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}

label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}​
