.center-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}}

a {
    color: #61BFC1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #466B6C;
}

body {
    background-color: #000;
    background-image: url('hex-spirals.svg');
    background-size: 14%;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial,
    SansSerif;
    color: #EFE2B8;
    margin: 0px;
    min-height: 960px;
}

h1,h2,h3,h4 {   
    font-family: "Avenir Next"
    font-weight: bold;
}

.content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 96px 0 0 0;
}

header {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #222;
    color: #fff;

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
                                       from(rgba(15,15,15,0.8)), color-stop(0.5, rgba(48,48,48,0.8)),
                                       color-stop(0.5, rgba(0,0,0,0.8)), to(rgba(15,15,15,0.8)));
    background-image: -webkit-linear-gradient(top, rgba(15,15,15,0.8) , rgba(48,48,48,0.8) 50%, rgba(0,0,0,0.8) 52%, rgba(15,15,15,0.8));
    background-image: -moz-linear-gradient(top, rgba(15,15,15,0.8), rgba(48,48,48,0.8) 50%, rgba(0,0,0,0.8) 52%, rgba(15,15,15,0.8));
    background-image: -ms-linear-gradient(top, rgba(15,15,15,0.8), rgba(48,48,48,0.8) 50%, rgba(0,0,0,0.8) 52%, rgba(15,15,15,0.8));
    background-image: -o-linear-gradient(top, rgba(15,15,15,0.8), rgba(48,48,48,0.8) 50%, rgba(0,0,0,0.8) 52%, rgba(15,15,15,0.8));
    background-image: linear-gradient(top, rgba(15,15,15,0.8), rgba(48,48,48,0.8) 50%, rgba(0,0,0,0.8) 52%, rgba(15,15,15,0.8));
}

h1 {
    margin: 0.2em 0 0 0;
    font-size: 37pt;
    -webkit-text-shadow: 0px -2px #000;
    -moz-text-shadow: 0px -2px #000;
    text-shadow: 0px -2px #000;    
}

img {
    border-radius: 8px;
    border: 1px solid #444;
    margin: 1px;
}

